<div class="navbar-area">
    <div class="mobile-nav">
        <a routerLink="/" class="logo"><img src="assets/img/logo.png" alt="Logo"></a>
    </div>
    
    <div class="main-nav nav-top">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.png" alt="Logo"></a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                       
                        <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home</a></li>

                        <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">About</a></li>
                        <li class="nav-item"><a routerLink="/login" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Log In</a></li>
                        <li class="nav-item"><a routerLink="/register" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Register</a></li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Pages <i class="fas fa-chevron-right"></i></a>

                            <ul class="dropdown-menu">

                                <li class="nav-item"><a routerLink="/instructor" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Instructor</a></li>

                                <li class="nav-item"><a routerLink="/courses" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Courses</a></li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Servicios <i class="fas fa-chevron-right"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/services" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Servicios </a></li>

                                <li class="nav-item"><a routerLink="/services-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Servicios Detalle</a></li>
                            </ul>
                        </li>


                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Novedades <i class="fas fa-chevron-right"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/news" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Novedades</a></li>

                                <li class="nav-item"><a routerLink="/news-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Novedades Detalle</a></li>
                            </ul>
                        </li>
                        
                        

                        <li class="nav-item">
                            <a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Contacto</a>
                        </li>
                    </ul>

                    <div class="other-side">
                        <div class="search-area">
                            <div class="other-option">
                                <div class="search-item">
                                    <a href="#" class="search-btn"><i class="flaticon-loupe"></i></a>
                                    <i class="close-btn fas fa-times"></i>

                                    <div class="search-overlay search-popup">
                                        <div class="search-box">
                                            <form class="search-form">
                                                <input class="search-input" name="search" placeholder="Search" type="text">
                                                <button class="search-button" type="submit"><i class="flaticon-loupe"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-menu">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#myModal2">
                                <i class="flaticon-menu"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="sidebar-modal">  
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>

                    <h2 class="modal-title" id="myModalLabel2">
                        <a routerLink="/"><img src="assets/img/logo.png" alt="Logo"></a>
                    </h2>
                </div>
                
                
            </div>
        </div>
    </div>
</div>