<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner bg-shape2 bg-color2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="conatiner">
                <div class="inner-title text-center">
                    <h3>Contáctanos</h3>
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><i class="fas fa-chevron-right"></i></li>
                        <li>Contáctanos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-area pt-100 pb-70">
    <div class="container">
        <div class="contact-title text-center mb-50">
            <h2>En Sonidos estamos disponibles de lunes a viernes de 10:00 a 19:00 hrs. ¡También puedes escribirnos 24/7!</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="contact-item">
                    <div class="icon-contact text-center"><i class="far fa-clock"></i></div>
                    <h3>Lunes a Viernes: 10:00 - 19:00 hrs</h3>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="contact-item">
                    <div class="icon-contact text-center"><i class="fas fa-map-marker-alt"></i></div>
                    <h3>Huechuraba, Santiago de Chile</h3>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="contact-item text-center">
                    <div class="icon-contact"><i class="flaticon-telephone"></i></div>
                    <h3><a href="tel:+56912345678">+56 9 1234 5678</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-form pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 p-0">
                <div class="contact-img">
                    <img src="assets/img/contact.png" alt="Imagen de contacto">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-area">
                    <div class="form-section">
                        <h2>¿En qué podemos ayudarte?</h2>

                        <form id="contactForm">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" class="form-control" required placeholder="Tu nombre">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" class="form-control" required placeholder="Tu correo electrónico">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="phone_number" id="phone_number" required class="form-control" placeholder="Tu teléfono">
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="msg_subject" id="msg_subject" class="form-control" required placeholder="Asunto">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-message textarea-hight" id="message" cols="30" rows="5" required placeholder="Tu mensaje"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="default-btn1 btn-two">Enviar mensaje</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
