<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner bg-shape3 bg-color4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="conatiner">
                <div class="inner-title text-center">
                    <h3>Instructor</h3>
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><i class="fas fa-chevron-right"></i></li>
                        <li>Instructor</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!---<div class="instructor-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="instructor-img">
                    <img src="assets/img/trainers/instra1.jpg" alt="Imagen del instructor">
                </div>
            </div>

            <div class="col-lg-8">
                <div class="instructor-content">
                    <h3>David Henríquez</h3>
                    <span>Instructor principal de guitarra eléctrica</span>
                    <ul class="instructor-social">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                    <p>David es músico autodidacta y profesor con más de 10 años de experiencia impartiendo clases a jóvenes y adultos. Su enfoque combina técnica, improvisación y herramientas digitales, ayudando a sus estudiantes a encontrar su estilo propio. Vive en la comuna y participa activamente en agrupaciones culturales locales.</p>
                    <a routerLink="/appointment" class="default-btn1">Agendar clase</a>
                </div>
            </div>
        </div>
    </div>
</div>---->

<section class="trainers-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center mb-50">
            <span>Nuestro Equipo</span>
            <h2>Conoce a nuestros instructores</h2>
            <p>Todos los cursos son impartidos por músicos locales apasionados por enseñar, compartir sus conocimientos y fortalecer la comunidad musical de nuestra comuna.</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a routerLink="/instructor"><img src="assets/img/trainers/1.jpg" alt="Imagen del instructor"></a>
                    <div class="trainer-content">
                       <a routerLink="/instructor"><h3>Cristóbal Sánchez</h3></a>
<span>Guitarras eléctricas y efectos</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a routerLink="/instructor"><img src="assets/img/trainers/2.jpg" alt="Imagen del instructor"></a>
                    <div class="trainer-content">
                        <a routerLink="/instructor"><h3>Marcelo Rojas</h3></a>
                        <span>Percusión electrónica y loops</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a routerLink="/instructor"><img src="assets/img/trainers/3.jpg" alt="Imagen del instructor"></a>
                    <div class="trainer-content">
                        <a routerLink="/instructor"><h3>Valentina Morales</h3></a>
<span>Productora y diseñadora de sonido</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a routerLink="/instructor"><img src="assets/img/trainers/4.jpg" alt="Imagen del instructor"></a>
                    <div class="trainer-content">
                       <a routerLink="/instructor"><h3>Diego Contreras</h3></a>
<span>Instructor de bajo, tecnicas de slap</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
