<footer class="footer-area">
    <div class="footer-top pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="footer-content">
                        <div class="footer-conten-title">
                            <a routerLink="/"><img src="assets/img/logo.png" alt="Logo"></a> 
                            <p>Lorem ipsum dolor sit amet, mattetur adipiscing elit, sed do eiusmod.</p>
                        </div>
                        
                        <div class="newsleter-area">
                            <h3>Join Newsletter</h3>
                            <form class="newsletter-form">
                                <input type="email" class="form-control" placeholder="Email" name="EMAIL" required autocomplete="off">
                                <button class="subscribe-btn" type="submit">Subscribete</button>
                            </form>
                        </div>

                        <div class="footer-social">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="footer-list">
                        <h3>Nuestros Servicios</h3>

                        <ul>
                            <li><a routerLink="/services">Restauración</a></li>
                            <li><a routerLink="/services">Electronica</a></li>
                            <li><a routerLink="/courses">Pintura</a></li>
                            <li><a routerLink="/courses">Slap</a></li>
                            <li><a routerLink="/services">Cursos</a></li>
                            <li><a routerLink="/shop">Compra/Venta</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-list ml-50">
                        <h3>Links</h3>

                        <ul>
                            <li><a routerLink="/faq">FAQ</a></li>
                            <li><a routerLink="/services">Servicios</a></li>
                            <li><a routerLink="/courses">Cursos</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-list">
                        <h3>Contacts</h3>

                        <ul>
                            <li><a href="tel:+1123456789"><i class="fas fa-mobile-alt"></i> +56 123 456 789</a></li>
                            <li><a href="tel:+1123456359"><i class="fas fa-mobile-alt"></i> +56 123 456 987</a></li>
                            <li><a href="mailto:email&#64;sonidos.com"><i class="far fa-envelope"></i> email&#64;sonidos.com</a></li>
                            <li><a href="mailto:hello&#64;sonidos.com"><i class="far fa-envelope"></i> hello&#64;sonidos.com</a></li>
                            <li><i class="fas fa-map-marker-alt"></i> Santiago</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="bottom-list">
                        <ul>
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/about">Nosotros</a></li>
                            <li><a routerLink="/services">Servicios</a></li>
                            <li><a routerLink="/gallery">Galeria</a></li>
                            <li><a routerLink="/news">Novedades</a></li>
                            <li><a routerLink="/shop">Tienda</a></li>
                            <li><a routerLink="/contact">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="bottom-text">
                        <p>© sonidos <a href="https://google.com/" target="_blank">SoundSeeker</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>